.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.permaNav{
  background-color: var(--background-color-back);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}
.logoImage {
  padding: 2px;
  border-radius: 50%;
  background-color: var(--background-color-normal);
  box-shadow: -5px -5px 5px var(--shadow-light), 5px 5px 5px var(--shadow-dark);
  border: 2px solid var(--background-color-front);
  height: 70px;
  width: 70px;
  margin: 0 30px 0 10px;
}
.navbar h1 {
  font-size: 24px;
}
.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
}
.navLinks li a {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  font-size: 17px;
}
.navLinks li a:hover {
  color: #00f59b;
  transition: color 0.3s;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 20px; */
}

#slidebar {
  /* display: block; */
  /* display: none; */
  display: none;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
  /* justify-content: end; */
  background-color: var(--background-color-normal);
  padding: 5px 12px;
  border-radius: 0 0 30px 30px;
  box-shadow: -2px -2px 5px var(--shadow-light), 2px 2px 5px var(--shadow-dark);
}
#menuIcon {
  width: 28px;
}
.crossIcon {
  margin: 15px 0 0 0;
  width: 40px;
  padding: 2px;
  border-radius: 50%;
  background-color: var(--background-color-back);
  box-shadow: -2px -2px 5px var(--shadow-light), 2px 2px 5px var(--shadow-dark);
}
.mobileNavLinks {
  width: 330px;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column-reverse;
}
.mobileNavLinks > li {
  display: inline;
  margin: 10px 10px;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
  .mobileNavLinks {
    list-style: none;
    display: block;
    gap: 40px;
  }

  .mobileNavLinks li a {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 17px;
  }
  .mobileNavLinks li a:hover {
    color: #00f59b;
    transition: color 0.3s;
  }
  .slidebar {
    display: relative;
    width: 300px;
    background-color: var(--background-color-front);
  }
}
