.projectCard {
  width: 300px;
  /* height: 410px; */
  /* margin: 20px; */
  border: 1px solid #ccc;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.534);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background-color: #fff;
}
.projectImage {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5%;
}
.projectImageContainer{
    width: 100%;
    padding: 10px 10px 0 10px;
}
.projectImageContainer:hover {
  box-shadow: inset 0 10 10px rgb(255, 0, 0);
}
.projectCard:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* display: invisible; */
}
.projectContent {
  /* padding: 15px; */
  text-align: center;
}
.projectContent > h3 {
  font-weight:800;
  font-size: 1.5em;
  margin: 8px 0 16px 0;
  color: #333;
}
.projectLinks {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin: 10px 0;
  padding: 0 10px;
}
.projectDescription{
  padding: 0 15px 10px 15px;
  font-size: 1em;
  line-height: 24px;
  word-spacing: 2px;
  letter-spacing: 1.2px;
  color: #555;
  min-height: 60px;
}